<div class="content">
  <div class="flex-container">
   <div class="flex-child">
      <mat-form-field appearance="fill">
      <mat-label>Select Product Count</mat-label>
      <mat-select [(ngModel)]="selProdCount">
        <mat-option *ngFor="let x of selectProductCount" [value]="x">
          {{x}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="flex-child-btn">

    </div>
    <div class="flex-child-right">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [(ngModel)]="sortBy">
          <mat-option *ngFor="let x of sortByProduct" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of productListDetails">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{product.name | uppercase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-md-image src="../../../../assets/images/pokemon.png">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="displayProductDeatil(product.url)">View Product Detail</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
